*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'poppins';
}

html{
    font-size: 60%;
    overflow-x: hidden;
}

:root{
    --bg-color: #0f172a;
    --second-bg-color: #030d23;
    --text-color: #fff;
    --main-color: #00d3f3;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

.scroll-indicator{
    position: fixed;
    right: 100px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.scroll-indicator a{
    padding: 10px;
    position: relative;
}

.scroll-indicator a::after{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.scroll-indicator a.active::after{
    background: var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
    transform: translate(-50%, -50%) scale(1.3);
}

.scroll-indicator a::before{
    content: attr(data-section);
    position: absolute;
    right: 24px;
    top: 50%;
    transform: translate(4px, -50%);
    background: var(--main-color);
    color: var(--text-color);
    font-weight: bold;
    padding: 2px 16px;
    text-transform: uppercase;
    font-size: 13px;
    pointer-events: none;
    box-shadow: 0 0 15px var(--main-color);
    opacity: 0;
    transition: all 400ms ease;
    border-radius: 2px;
}

.scroll-indicator a:hover::before{
    opacity: 1;
    transform: translate(0, -50%);
}

.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 4rem 12%;
    background-color: rgba(0,0,0,0.3);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

#menu-icon{
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
}

.logo{
    font-size: 3rem;
    color: var(--text-color);
    font-size: 800;
    cursor: pointer;
    transition: 0.3s ease;
}

.logo:hover{
    transform: scale(1.1);
}

span{
    color: var(--main-color);
    text-shadow: 0 0 25px var(--main-color);
}

.navbar a{
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}

.navbar a:hover{
    border-bottom: 3px solid var(--main-color);
    color: var(--main-color);
    text-shadow: 0 0 25px var(--main-color);
}

.navbar a.current{
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
    right: 0;
}

section{
    min-height: 100vh;
    padding: 10rem 12%;
    scroll-margin-top: 100px;
}

.home{
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 15rem;
}

.home-content h1{
    font-size: 8rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
}

.home-content h3{
    font-size: 4rem;
    margin: 1rem 0;
}

.home-content p{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8rem;
}

.home-img img{
    width: 32vw;
    transition: 0.4s ease-in-out;
}

.home-img img:hover{
    transform: scale(1.1);
}

.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    padding: 1rem;
    background: transparent;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    color: var(--main-color);
    margin: 3rem 0.5rem;
    transition: 0.3s ease;
}

.social-icons a:hover{
    color: var(--text-color);
    background-color: var(--main-color);
    transform: scale(1.2)translateY(-5px);
    box-shadow: 0 0 25px var(--main-color);
}

.btn{
    display: inline-block;
    padding: 1rem 3rem;
    background: var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
    border-radius: 3rem;
    font-size: 1.8rem;
    color: var(--text-color);
    border: 2px solid transparent;
    font-weight: 600;
    transition: 0.3s ease-in-out;
}

.btn:hover{
    transform: scale(1.05);
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color);
}

/*Skills*/
.skills{
    background-color: #0f172a;
    color: var(--text-color);
    text-align: center;
}

.section-title{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 4rem;
}

.skills-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.skill-box{
    background: transparent;
    border-radius: 20px;
    padding: 3rem 2rem;
    transition: 0.3s ease;
    backdrop-filter: blur(10px);
    border: 1px solid var(--main-color);
    box-shadow: 0 0 8px var(--main-color);
}

.skill-box i{
    font-size: 3rem;
    margin-bottom: 1rem;
}

.skill-box p{
    font-size: 2.5rem;
}

.skill-box:hover{
    transform: translateY(-8px);
    box-shadow: 0 0 25px var(--main-color);
}


/* Grid layout */
.projects-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

/* Project card */
.project-card {
  background: rgba(255, 255, 255, 0.02);
  border-radius: 20px;
  padding: 1.5rem;
  opacity: 0;
  transform: translateY(60px);
  transition: all 0.6s ease;
}

.project-card.show {
  opacity: 1;
  transform: translateY(0);
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 30px var(--main-color);
}

/* Project images */
.project-card img {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 1rem;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

/* Project title */
.project-card h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

/* Project description */
.project-card p {
  font-size: 1rem;
  opacity: 0.8;
  margin-bottom: 0.5rem;
}

/* Tech / language tags */
.tech {
  font-size: 0.9rem;
  opacity: 0.7;
  margin-bottom: 1rem;
  font-weight: 500;
}

/* View Project anchor link */
.view-link {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  background: var(--main-color);
  color: var(--text-color);
  text-decoration: none;
  padding: 0.6rem 1.2rem;
  border-radius: 10px;
  font-size: 0.9rem;
  transition: 0.3s ease;
}

.view-link:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 20px var(--main-color);
}

.contact h2{
    margin-bottom: 3rem;
    color: var(--text-color);
}

.contact form{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 5rem 0;
    text-align: center;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.contact form .input-box input, 
.contact form textarea{
    width: 100%;
    padding: 1.8rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background-color: var(--bg-color);
    border-radius: 2rem;
    border: 2px solid var(--main-color);
    margin: 1.5rem 0;
    resize: none;
}

.footer{
    background: var(--second-bg-color);
    padding: 50px 0;
}

.footer .social-icons{
    text-align: center;
}

.footer ul{
    text-align: center;
    font-size: 1.8rem;
}

.footer ul li{
    display: inline-block;
    margin-left: 20px;
}

.footer ul li a{
    color: var(--text-color);
    border-bottom: 3px solid transparent;
    transition: 0.3s ease-in-out;
}

.footer ul li a:hover{
    border-bottom: 3px solid var(--main-color);
}

.footer .copyright{
    text-align: center;
    margin-top: 40px;
    font-size: 16px;
}

/*Responsiveness*/
@media (max-width:1024px ) {
    #menu-icon{
        display: block;
        cursor: pointer;
    }
    .navbar{
        position: absolute;
        top: 100%;
        right: 0;
        width: 50%;
        padding: 1rem 3rem;
        background-color: rgba(0,0,0,0.8);
        border-left: 2px solid var(--main-color);
        border-bottom: 2px solid var(--main-color);
        border-bottom-left-radius: 2rem;
        display: none;
    }

    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: var(--text-color);
    }
    .navbar.current{
        display: block;
    }

    .home{
        flex-direction: column-reverse;
        margin: 5rem 0;
        gap: 5rem;
    }
    .hero-content{
        align-items: center;
        text-align: center;
    }
    .home-img img{
        width: 52vw;
    }

    .skills-grid{
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .projects-container{
        grid-template-columns: repeat(2, 1fr);
    }

    .scroll-indicator {
    right: 40px;
    gap: 30px;
  }

  .scroll-indicator a::before {
    font-size: 11px;
    padding: 2px 12px;
  }

    .contact form{
        flex-direction: column;
    }
}



@media (max-width: 468px) {
    html{
        font-size: 50%;
    }

    .scroll-indicator{
        display: none;
    }

    .header{
        padding: 2rem 5%;
    }

    .home{
        gap: 3rem;
    }

    .home-content h1{
        font-size: 4.5rem;
    }

    .home-content h3{
        font-size: 2.5rem;
    }

    .home-content p{
        font-size: 1.3rem;
    }

    .home-img img{
        width: 80vw;
    }

    .skills-grid{
        grid-template-columns: 1fr;
    }

    .projects-container{
        grid-template-columns: 1fr;
    }

    .project-card{
        padding: 1.2rem;
    }



}